.header {
    background-color: #ab3838;


    .div_header {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1400px;
        max-width: calc(100% - 30px);
        margin: 0 auto;

        .div_logo {
            >img {
                width: 120px;
            }
        }

        .navbar-menu {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          
          .navbar-item {
            margin-left: 1.5rem;
          }

        
    }
}